// global variables
$images: "../images/";
$fonts: "../fonts/";

// base colors
$base-color: #18191F;
$grey-color: #999999;
$white-color: #ffffff;
$orange-color: #f39200;
$burgundy-color: #b70e80;
$blue-color: #0095db;
$red-color: #ff0000;
$green-color: #a6ce39;
$border-color: #ededed;